

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
scroll-behavior:smooth;
}

body{
background:linear-gradient(135deg,#667eea,#764ba2);
color:white;
}

/* DARK MODE */

.dark{
background:#0f172a;
}

/* NAVBAR */

header{
backdrop-filter:blur(10px);
background:rgba(255,255,255,0.1);
position:sticky;
top:0;
z-index:1000;
}

nav{
display:flex;
justify-content:center;
align-items:center;
gap:2rem;
padding:1rem;
flex-wrap:wrap;
}

nav a{
text-decoration:none;
color:white;
font-weight:bold;
}

nav a:hover{
color:#ffd369;
}

#modeBtn{
background:none;
border:none;
font-size:20px;
color:white;
cursor:pointer;
}

/* HERO */

.hero{
text-align:center;
padding:100px 20px;
}

.hero img{
width:160px;
height:160px;
border-radius:50%;
border:4px solid white;
margin-bottom:20px;
}

.hero h1{
font-size:40px;
}

.hero span{
color:#ffd369;
}

.hero p{
font-size:20px;
margin-top:10px;
}

.buttons{
margin-top:25px;
}

.buttons a{
padding:12px 30px;
background:white;
color:black;
text-decoration:none;
border-radius:30px;
margin:10px;
font-weight:bold;
transition:0.3s;
}

.buttons a:hover{
background:#ffd369;
}

/* GLASS UI */

.glass{
background:rgba(255,255,255,0.1);
backdrop-filter:blur(10px);
border-radius:15px;
padding:30px;
margin:20px 0;
box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

/* SECTIONS */

section{
max-width:1100px;
margin:auto;
padding:60px 20px;
}

section h2{
text-align:center;
margin-bottom:30px;
font-size:34px;
}

/* SKILLS */

.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
gap:25px;
text-align:center;
}

.skill-card{
background:rgba(255,255,255,0.1);
padding:20px;
border-radius:12px;
transition:0.3s;
}

.skill-card:hover{
transform:translateY(-10px) scale(1.05);
}

.skill-card img{
width:50px;
margin-bottom:10px;
}

/* PROJECTS */

.projects{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:25px;
}

.project-card{
background:rgba(255,255,255,0.1);
border-radius:15px;
overflow:hidden;
transition:0.4s;
}

.project-card:hover{
transform:translateY(-10px) scale(1.03);
}

.project-card img{
width:100%;
transition:0.4s;
}

.project-card:hover img{
transform:scale(1.1);
}

.project-card h3{
padding:10px;
}

.project-card p{
padding:0 10px 10px;
}

.project-card a{
margin:10px;
display:inline-block;
color:#ffd369;
text-decoration:none;
font-weight:bold;
}

/* CONTACT */

form{
display:flex;
flex-direction:column;
gap:10px;
max-width:500px;
margin:auto;
}

input,textarea{
padding:12px;
border:none;
border-radius:6px;
}

button{
padding:12px;
background:#ffd369;
border:none;
border-radius:6px;
font-weight:bold;
cursor:pointer;
}

button:hover{
background:white;
}

/* FOOTER */

footer{
text-align:center;
padding:20px;
margin-top:40px;
background:rgba(0,0,0,0.3);
}

/* MOBILE */

@media(max-width:768px){

.hero h1{
font-size:28px;
}

}

